<div id= "reward_info">
  <div id="reward_image"> <%= image_tag reward.image.url(:thumb)  if reward.image.present? %> </div>
  <div id="reward_price"> <%= reward.price_in_points %> <%= reward.point_kind.name %> </div>
  <div id="reward_description"> <%= reward.description %> </div> 
</div>




 
