<h1> <%= t(:dashboard) %> </h1>

<div id="dashboard_games">
  <%= render :partial => "games/list", :locals => { :games => @games } %> 
</div>

<div id="dashboard_rewards">
<%= render :partial => "rewards/list", :locals => { :rewards => @rewards } %> 
</div>

