<%= link_to(game) do %>
<div id= "game_info">
  <div id="game_image"> <%= image_tag game.image.url(:thumb) %> </div>
  <div id="game_title"> <%= game.title %> </div>
  <div id="game_description"> <%= game.description %> </div>
</div>
<% end %>
