
<h1> <%= t(:games) %></h1>

<table style="width:100%;">
  <% if games.count > 0 %>
  <% games.each do |game| %>
  <tr>
    <td>
      <%= link_to(game, :class => "game_link") do %>
      <%= render :partial => "games/game", :locals => { :game => game } %>    
      <% end %>
    </td>
  </tr>
  <% end %>
  <% else %>
  Brak dostępnych gier
  <% end %>
</table>
