<div id="player_challenge_status"> 
  <%= image_tag "/" + player_challenge.status.to_s + ".png" %>
<!--  
  <div id="created_at">
    <%= player_challenge.created_at %>
  </div>
-->
  <div id="updated_at">
    <%= time_ago_in_words(player_challenge.updated_at) %>
  </div>
</div>

<%= render :partial => 'challenges/challenge', :locals => { :challenge => player_challenge.challenge } %>
