

<p>
  <b>Points:</b>
  <%= challenge.points %>
</p>

<p>
  <b>Points Kind:</b>
  <%= challenge.pointKind.name %>
</p>

<p>
  <b>Title:</b>
  <%= challenge.title %>
</p>

<p>
  <b>Description:</b>
  <%= challenge.description %>
</p>


