<h1>Listing capturing_codes</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @capturing_codes.each do |capturing_code| %>
  <tr>
    <td><%= link_to 'Show', capturing_code %></td>
    <td><%= link_to 'Edit', edit_capturing_code_path(capturing_code) %></td>
    <td><%= link_to 'Destroy', capturing_code, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Capturing code', new_capturing_code_path %>
