<div id="create_elem">
<%= link_to t(:new_game), new_game_path %>
</div>

<h1> <%= t(:games) %></h1>

<table style="width:100%;">

  <% @games.each do |game| %>
  <tr>
    <td>
      <%= render :partial => "games/info", :locals => { :game => game } %>    
    </td>
  </tr>
  <% end %>

</table>

<%= will_paginate @games %>
