<h1><%= t(:plays) %></h1>

<table style="width:100%;">
  <% @plays.each do |play| %>
  <tr>
    <td> 
      <%= link_to(play, :class => "play_link") do %>
      <%= render :partial => "plays/play", :locals => { :play => play } %>    
      <% end %>
    </td>
  </tr>
  <% end %>
</table>

