<div id="player_challenges_list">

<h1> <%= t(:player_challenges_list) %> </h1>

<table style="width: 100%;">
  <% player_challenges.each do |player_challenge| %>
  <tr>
    <td>

      <% if player_challenge.unfinished? %>
        <%= link_to( '/' + player_challenge.class.name.pluralize.underscore.downcase + '/' + player_challenge.id.to_s + '/edit' ) do %>

        <%= render :partial => 'player_challenges/' + player_challenge.class.to_s.underscore, :locals => { :player_challenge =>
        player_challenge } %>      


	<% end %>
      <% else %>
        <%= render :partial => 'player_challenges/' + player_challenge.class.to_s.underscore, :locals => { :player_challenge =>
        player_challenge } %>      
      <% end %>
   </td>
  </tr>
  <% end %>
</table>
</div>
