<div id="challenge_desc">

<p>
  <b> <%= challenge.title %> </b>
  <br />
  <%= challenge.points %> <%= challenge.pointKind.name %> points
</p>


<p>
  <b>Description:</b> <br />
  <%= challenge.description %>
</p>


</div>
