

<p>
  <b>Points:</b>
  <%= challenge.points %>
</p>

<p>
  <b>Title:</b>
  <%= challenge.title %>
</p>

<p>
  <b>Description:</b>
  <%= challenge.description %>
</p>

<%= link_to 'Edit', edit_game_challenge_path(challenge.game, challenge) if challenge.game.new? %> 
