
<p>
  <b>Points/Type:</b>
  <%= challenge.points %> /  <%= challenge.pointKind.name %>
</p>

<p>
  <b>
  <%= challenge.title %>
</b>
</p>

<p>
  <b>Description:</b>
  <%= challenge.description %>
</p>


