/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/


.active {
    letter-spacing: 7px;
    font-family: Purisa;
    font-weight: bold;
    font-size: large;
}

body {
    position: relative; 
    font-family: Purisa;
}

#small_menu {
    position: absolute; left: 10%; right:10%; top:0px;
    border-top: 1px solid gray;  
    background-color: white;
}

#main_menu {
    border-top: 1px solid gray;
    position: absolute; left: 10%; right: 10%; top:34px;
    background-color: white;
    clear:both;
}

#create_elem {
    float: right;
}

#content {
    position: absolute; left: 10%; right:10%; top: 100px;
    border: 1px solid gray;
    clear:both;
    padding: 10px 10px;
}

ul, ul li {
    display: block;
    list-style: none;
    font-family: Purisa;
}


#small_menu  li {
	float: right;
	border-width: 0 1px 1px 0px;
	border-style: solid;
	border-color: transparent gray gray gray;
}

#main_menu  li {
    	float: right;
	border-width: 0 1px 1px 0px;
	border-style: solid;
	border-color: transparent gray gray gray;
}

#small_menu a:link, #small_menu a:visited {
    	text-decoration: none;
	display: block;
	width: 140px;
	text-align: center;
	padding: 1px 0;
	background-color: white;
	color: black;
}

#main_menu a:link, #main_menu a:visited {
	display: block;
	width: 145px;
	text-align: center;
	padding: 5px 0;
	background-color: white;
	text-decoration: none;
	color: black;
}


#main_menu li a:hover {
	border-top: 1px solid black;
}

#small_menu li a:hover {
	border-top: 1px solid black;
}

h1 {
    text-align: center;
    font-family: Purisa;
}
