/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/
body {
    position: relative; 
}

#small_menu {
    position: absolute; left: 10%; right:10%; top:0px;
    border: 1px solid yellow;  
    background-color: yellow;
}

#main_menu {
    border: 1px solid gray;
    position: absolute; left: 10%; right: 10%; top:34px;
    background-color: gray;
    clear:both;
}

#content {
    position: absolute; left: 10%; right:10%; top: 100px;
    border: 1px solid gray;
    clear:both;
    padding: 10px 10px;
}


ul, ul li {
	display: block;
	list-style: none;
}


#small_menu  li {
	float: right;
	border-width: 0 1px 1px 1px;
	border-style: solid;
	border-color: transparent #25b #25b #9ce;
}

#main_menu  li {
    	float: right;
	border-width: 0 1px 1px 1px;
	border-style: solid;
	border-color: transparent #25b #25b #9ce;
}

#small_menu a:link, #small_menu a:visited {
    	text-decoration: none;
	display: block;
	width: 110px;
	text-align: center;
	padding: 3px 0;
	background-color: gray;
	color: yellow;
	border-top: 5px solid #000;
}

#main_menu a:link, #main_menu a:visited {
	text-decoration: none;
	display: block;
	width: 145px;
	text-align: center;
	padding: 5px 0;
	font-weight: bold;
	background-color: yellow;
	color: gray;
	border-top: 10px solid #000;
}

li a:hover {
	background-color: gray;
	color: red;
	border-top: 15px solid #dddd00;
}

h1 {
    text-align: center;
    font-family: Fantasy;
}