// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#dashboard_games {
    float: left;
    width: 50%;
}
#dashboard_rewards {
    float: right;
    width: 50%;
}